[user]
    email = mattkieblesz@hotmail.com
    name = Mateusz Kieblesz
[core]
    editor = vim
    pager = delta --plus-color="#012800" --minus-color="#340001"
    excludesfile = ~/.gitignore
[interactive]
    diffFilter = delta --color-only
[push]
    default = simple
